<template>
  <div id="app">
    <h1>TO-DO List</h1>
    <input type="text" v-model="message" @keyup.enter="addText(message)" />
    <button @click="addText(message)">+</button>
    <div v-for="(item, index) in listMessages" :key="index" >
      <TodoItem @remove-text="removeText(index)" @edit-text="editText(item)" @status-text="statusText()" :item="item" />
    </div>
  </div>
</template>

<script>
import TodoItem from "./TodoItem.vue";

export default {
  name: "todo-list",
  components: {
    TodoItem
  },
  data() {
    return {
      message: "",
      listMessages: [],
      editMessage: false,
      editedMessage: "",
    };
  },
  methods: {
    addText(message) {
      if (!(message == "")) {
        if (this.editMessage == true) {
          this.listMessages.splice(
            this.listMessages.indexOf(this.editedMessage),
            1,
            message
          );
          this.message = "";
          this.editMessage = false;
        } else {
          this.listMessages.push(message);
          this.message = "";
        }
      }
    },
    removeText(index) {
      this.listMessages.splice(index, 1);
    },
    editText(item) {
      this.editedMessage = item;
      this.message = item;
      this.editMessage = true;
    },
  }
};
</script>

<style>
#app {
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #79c9ff;
  margin-top: 60px;
}
input {
  padding: 0.5rem 0.5rem;
  border: 3px solid #fefefe;
  border-radius: 30px;
  color: #3a3838;
  background: #fefefe;
  font-size: 2.5rem;
  outline: none;
  margin-top: 20px;
  margin-left: 50px;
}

button {
  cursor: pointer;
  background: transparent;
  font-size: 150%;
  border: none;
  padding: 1rem;
  outline: none;
  margin-left: 7px;
  font-family: "Pacifico", cursive;
  color: #79c9ff;
}

div ul {
  list-style: none;
}

.item {
  font-size: 3rem;
}

.remove {
  font-size: 1.5rem;
  cursor: pointer;
}

.edit {
  font-size: 1.5rem;
  cursor: pointer;
}
</style>
