<template>
  <div>
    <button @click="statusText()" :class="{crossedItem:lineThrough}">{{ item }}</button>
    <button @click="removeText()" class="remove">
      <img src="../assets/icons8-eliminar-40.png" title="remove" />
    </button>
    <button @click="editText()" class="edit">
      <img src="../assets/icons8-editar-40.png" title="edit" />
    </button>
  </div>
</template>

<script>
export default {
  name: "todo-item",
  props: ["item"],
  data() {
    return {
      lineThrough: false 
    };
  },
  methods: {
    removeText() {
      this.$emit("remove-text");
    },
    editText() {
      this.$emit("edit-text")
    },
    statusText() {
      if (this.lineThrough == false){
        this.lineThrough = true 
      }else if(this.lineThrough == true){
        this.lineThrough = false
      }
    }
  }
};
</script>

<style>

.crossedItem {
  text-decoration: line-through;
}

</style>